@slide-width: 900px;
@slide-height: 700px;
@slide-padding-vertical: 40px;
@slide-padding-horizontal: 60px;

body {
  background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  min-height: 740px;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
}

h1, h2 {
  font-weight: 300;
}

a {
  color: darken(#0088cc, 15);
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
  }
}

b {
  font-weight: 600;
}

.centered {
  text-align: center;
}

.centered-vertical {
  margin-top: @slide-height / 2 - 120px;
}

.pull-right {
  float: right;
}

.step {
  width: @slide-width;
  height: @slide-height;
  padding: 40px;
  line-height: 1.5;
  opacity: 0.3;
  transition: opacity 1s;
  box-sizing: border-box;

  &.active {
    opacity: 1;
  }
}

.slide {
  padding: @slide-padding-vertical @slide-padding-horizontal;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  color: rgb(102, 102, 102);
}

.invisible { display: none }

// !important used so that they remain invisible on overview step
.visible-present {
  display: none;

  &.present {
    display: inherit;
  }
}

.highlight {
  background-color:rgba(200, 200, 200, 0.8);
  border-radius: 10px;
  padding: 10px;
}


// -----------------------------------------------------------------
// --- Slide specific styles ---------------------------------------
// -----------------------------------------------------------------

#intro-experiments {
  img {
    width: 200px;
  }
}

.exp-image {
  text-align: center;

  img, video {
    height: 75%;
  }
}

@keyframes rotate-full {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

.buckyball {
  animation: rotate-full 15s linear infinite;
}

.magnetomech-setup {}

@keyframes magnetomech-oscillate {
  from {
    transform:translate(-40px, 0);
  } to {
    transform:translate(0px, 0);
  }
}

.magnetomech-ball {
  position: absolute;
  top: 0;
  left: 0px;
  animation: magnetomech-oscillate 0.2s ease-in-out infinite alternate;
}

.impress-on-intro-experiments .exp-image { opacity: 1; }

.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}
