body {
  background-color: #bebebe;
  background-image: -webkit-radial-gradient(circle, #f0f0f0, #bebebe);
  background-image: -moz-radial-gradient(circle, #f0f0f0, #bebebe);
  background-image: -o-radial-gradient(circle, #f0f0f0, #bebebe);
  background-image: radial-gradient(circle, #f0f0f0, #bebebe);
  background-repeat: no-repeat;
  min-height: 740px;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
}
h1,
h2 {
  font-weight: 300;
}
a {
  color: #005580;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}
b {
  font-weight: 600;
}
li {
  margin-bottom: 20px;
}
p {
  margin-top: 0;
  margin-bottom: 24px;
}
.centered {
  text-align: center;
}
.centered-vertical {
  display: table;
  padding: 0 !important;
}
.centered-vertical > p,
.centered-vertical h1,
.centered-vertical div {
  display: table-cell;
  vertical-align: middle;
}
.centered-vertical .centered {
  margin: 0 auto;
}
.pull-right {
  float: right;
}
.step {
  position: relative;
  width: 900px;
  height: 700px;
  padding: 40px;
  line-height: 1.4;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.step.active {
  opacity: 1;
}
.slide {
  padding: 40px 55px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #666666;
}
.invisible {
  display: none;
}
.visible-present {
  display: none;
}
.visible-present.present {
  display: inherit;
}
.visible-present.present.centered-vertical {
  display: table;
}
.highlight {
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 10px;
  padding: 10px;
}
.reference {
  position: absolute;
  bottom: 40px;
  right: 110px;
  margin: 0;
  font-size: smaller;
}
.remark {
  display: block;
  margin-top: 10px;
  font-size: 65%;
}
.substep {
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
.substep.active {
  opacity: 1;
}
.big {
  font-size: 52px;
}
ul.unstyled li {
  list-style-type: none;
}
#title p {
  margin-top: 70px;
}
#intro-experiments img {
  width: 200px;
}
.exp-image {
  text-align: center;
}
.exp-image img,
.exp-image video,
.exp-image div.placeholder {
  height: 420px;
}
.buckyball {
  position: absolute;
  top: 0;
  left: 240px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
.present .buckyball {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.present #buckyball-left {
  -webkit-transform: translate(-200px, 0);
  -moz-transform: translate(-200px, 0);
  -o-transform: translate(-200px, 0);
  -ms-transform: translate(-200px, 0);
  transform: translate(-200px, 0);
}
.present #buckyball-right {
  -webkit-transform: translate(200px, 0);
  -moz-transform: translate(200px, 0);
  -o-transform: translate(200px, 0);
  -ms-transform: translate(200px, 0);
  transform: translate(200px, 0);
}
.magnetomech-setup {
  position: absolute;
}
@-webkit-keyframes magnetomech-oscillate {
  from {
    -webkit-transform: translate(-40px, 0);
    -moz-transform: translate(-40px, 0);
    -o-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
  }
  to {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@-moz-keyframes magnetomech-oscillate {
  from {
    -webkit-transform: translate(-40px, 0);
    -moz-transform: translate(-40px, 0);
    -o-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
  }
  to {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@-o-keyframes magnetomech-oscillate {
  from {
    -webkit-transform: translate(-40px, 0);
    -moz-transform: translate(-40px, 0);
    -o-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
  }
  to {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@-ms-keyframes magnetomech-oscillate {
  from {
    -webkit-transform: translate(-40px, 0);
    -moz-transform: translate(-40px, 0);
    -o-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
  }
  to {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@keyframes magnetomech-oscillate {
  from {
    -webkit-transform: translate(-40px, 0);
    -moz-transform: translate(-40px, 0);
    -o-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
  }
  to {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
.magnetomech {
  position: absolute;
  top: 0;
  left: 77px;
}
#magnetomech-ball {
  -webkit-animation: magnetomech-oscillate 0.2s ease-in-out infinite alternate;
  -moz-animation: magnetomech-oscillate 0.2s ease-in-out infinite alternate;
  -ms-animation: magnetomech-oscillate 0.2s ease-in-out infinite alternate;
  -o-animation: magnetomech-oscillate 0.2s ease-in-out infinite alternate;
  animation: magnetomech-oscillate 0.2s ease-in-out infinite alternate;
}
.impress-on-intro-experiments .exp-image {
  opacity: 1;
}
.overview .step {
  opacity: 1;
}
.impress-on-macro-overview2 .step {
  opacity: 1;
}
.impress-on-measures-overview .step {
  opacity: 1;
}
.impress-on-measures-overview2 .step {
  opacity: 1;
}
.impress-on-overview-disconnectivity #disconnectivity .step {
  opacity: 1;
}
.impress-on-overview-dsc #dsc .step {
  opacity: 1;
}
.impress-on-overview-bm #bm .step {
  opacity: 1;
}
.impress-on-overview-kwdc #kwdc .step {
  opacity: 1;
}
.impress-on-overview-mavd #mavd .step {
  opacity: 1;
}
.impress-on-overview-fd #fd .step {
  opacity: 1;
}
.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}
